.banner__titulo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: Pacifico, cursive;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
  color: #fdfdfd;
}

@media screen and (min-width: 0) {
  .banner__titulo {
    font-size: 3rem;
  }
}

@media screen and (min-width: 769px) {
  .banner__titulo {
    font-size: 5rem;
  }
}